/* You can add global styles to this file, and also import other style files */

body {
    background-color: #efefef;
    font-family: 'Artifika', serif;
    align-content: center;
}

.main-content {
    padding-top: 60px;
    color: #333;
}