<div *ngIf="appState == 'default'">
    <i><h3>Add Todo </h3></i>
    <form (submit)="addToDo()">
        <input class="form-control" type="text" [(ngModel)]="text" name="sometest">
    </form>
</div>
<div *ngIf="appState == 'edit'">
    <i> <h3>Edit Todo </h3></i>
    <form (submit)="updateTodo()">
        <input class="form-control" type="text" [(ngModel)]="text" name="test">
    </form>
</div>


<i><h3>Todo List</h3></i>
<ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
        <span (click)="editToDo(todo)"> {{todo.text}}</span> <button class="btn btn-primary btn-xs" (click)="deleteTodo(todo.text)">X</button>
    </li>
</ul>